<div class="container">
  <div class="row">
<div class="col-md-10">
  <h1>Listing All issues</h1>
  <table class="table">
    <tbody>
      <% @open_issues.each do |issue| %>
      <% issue_comments = issue.getComments %>
      <tr>
        <td>
          <%= issue.author %> asks <%= link_to(issue.subject, "https://github.com#{issue.issue_url}")  %>
          <br>
          Currently <%= issue_comments.length %> questions
          <ul>
            <% issue.getComments.each do |comment| %>
            <li>Author: <%= comment[:author] %> </li>
            <li><%= comment[:body] %>  </li>
            <% end %>
          </ul>
          <p>Rank: <%= issue.rank %>  </p>
          <p>Created On: <%= issue.created_at %></p>
          <%= form_for(issue, url: "issues/#{issue.id}/assign_rank") do |f| %>
          <div class="form-group required">
            <%= f.label :rank, "Priority" %>
            <%= f.select(:rank, [1,2,3], {}, class: "form-control", onchange: "$('#edit_issue_#{issue.id}:first-of-type').submit()"  ) %>
          </div>
          <% end %>
          <%= form_for(issue, url: "issues/#{issue.id}/assign_issue/", html: {id: "assign_issue#{issue.id}"}) do |f| %>
          <div class="form-group required">
            <%= f.submit("Assign to me", class: "btn btn-success") %>
          </div>
          <% end %>
        </td>

      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
      <div class="col-md-2">
  <% if current_user %>
    <%= render "shared/queue_personal" %>
  <% end -%>
</div>
</div>
    <%= render "shared/queue_closed" %>
</div>

