<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @issue.subject %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @issue.issue %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @issue.instructor_id %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @issue.rank %>
</p>

<p>
  <strong>Github:</strong>
  <%= @issue.github %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
