<h2> Issues assigned to <%= current_user.email %> </h2>
<div class="col-md-2">
  <table class="table">
    <tbody>
      <% @user_issues.each do |issue| %>
      <% issue_comments = issue.getComments %>
      <tr>
        <td>
          <%= issue.author %> asks <%= link_to(issue.subject, "https://github.com#{issue.issue_url}")  %>
          <br>
          Currently <%= issue_comments.length %> questions
          <ul>
            <% issue.getComments.each do |comment| %>
            <li>Author: <%= comment[:author] %> </li>
            <li><%= comment[:body] %>  </li>
            <% end %>
          </ul>
<!--           <%= form_for(issue, url: "issues/#{issue.id}/assign_rank") do |f| %>
          <div class="form-group required">
            <%= f.label :rank, "Priority" %>
            <%= f.select(:rank, [1,2,3], {}, class: "form-control", onchange: "$('#edit_issue_#{issue.id}:first-of-type').submit()"  ) %>
          </div>
          <% end %>
          <%= form_for(issue, url: "issues/#{issue.id}/assign_issue/") do |f| %>
          <div class="form-group required">
            <%= f.submit("Assign to me", class: "btn btn-success") %>
          </div> -->
          <% end %>
        </td>

      </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user %>
    <%= render "shared/queue_list" %>
  <% end -%>
</div>